.phpunit.cache
node_modules
public/hot
public/storage
storage/*.key
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.fleet
.idea
/.vscode
petamicr.code-workspace
tree_info_output.txt
project_info.json
db_info.json
phpinfo.php
project_info.php
tree_info.sh
db_info.php
petamicr_architecture_guide.md
test.sql
petamicr_conventions.md
auto_commit.sh
macro.txt
