/petamicr/.phpunit.cache
/petamicr/node_modules
/petamicr/public/hot
/petamicr/public/storage
/petamicr/storage/*.key
/petamicr/vendor
/petamicr/.env
/petamicr/.env.backup
/petamicr/.env.production
/petamicr/.phpunit.result.cache
/petamicr/Homestead.yaml
/petamicr/auth.json
/petamicr/npm-debug.log
/petamicr/yarn-error.log
/petamicr/.fleet
/petamicr/.idea
/.vscode
/petamicr/public/build
/public_html/build
tree_info_output.txt
project_info.json
db_info.json
phpinfo.php
project_info.php
tree_info.sh
db_info.php
